@media only screen and (max-width:480px){
    .myPhoto img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        margin: 35px;
      
        /* Profile Picture/image */
        position: relative;
        top: auto;
        left:9%;
      }

    .centered_img_div h1{
          font-size: 2em !important;
          padding: 30px 0;
          letter-spacing: normal;
      }

      #terminal {
          max-width: 100%;
      }
}